{
  "hitscanProjectileLimit": 7,
  "globalDamageMultiplier": 1,
  "gunArchetypeDamages": {
    "pistol": 1,
    
    // high firerate weapons
    "smg": 0.2,
    "assaultRifle": 0.25,
    "machineGun": 0.3,
    "flamethrower": 0.2,
    
    "shotgun": 2.125,
    "revolver": 1.75,
    "bow": 2,
    "rifle": 1.5,
    "dmr": 1.75,
    "sniper": 2,
    "antiMateriel": 3,
    
    "grenadeLauncher": 2.25,
    "rocketLauncher": 2.25,
    
    "beam": 0.5,
    "magic": 1
  },
  "standardFireTime": 0.2, // standard fire time in seconds; damage is affected by this value.
  "minimumFireTime": 0.065, // average is 0.06487755102040817

  "standardMaxAmmo": 6, // standard amount of maximum ammo in magazine
  
  // maximum randomized percent bonus for generated weapons
  "maxRandBonuses": {
    "baseDamage": 0.12,
    "critChance": 0.2,
    "critDamageMult": 0.06
  },
  "boughtRandBonusMult": 0.5, // effectiveness of randomized upgrades on bought items
  "categoryStrings": {
    "ballistic" : "^#51bd3b; Ballistic^reset;",
    "energy" : "^#d29ce7; Energy^reset;",
    "generic" : "^#FFFFFF;Ѻ Generic^reset;",
    "experimental" : "^#A8E6E2; Experimental^reset;",
    "special" : "^#e2c344;© Special^reset;",
    "universal" : "^#cfcfcf;¤ Universal^reset;"
  },
  "performanceMode": false,
  "renderBarsAtCursor": true,
  "useAmmoCounterImages": true,
  "accurateBars": false
}