{
  "hitscanProjectileLimit": 7,
  "globalDamageMultiplier": 1,
  "gunArchetypeDamages": {
    "pistol": 1.25,
    "smg": 1,
    "bow": 3,
    "shotgun": 4,
    "revolver": 1.5,
    "rifle": 2.5,
    "assaultRifle": 2,
    "dmr": 3,
    "sniper": 3.5,
    "machineGun": 3,
    "antiMateriel": 4,
    "grenadeLauncher": 5,
    "rocketLauncher": 4.5,
    "beam": 1.5,
    "magic": 5,
    "flamethrower": 2
  },
  "categoryStrings": {
    "ballistic" : "^#51bd3b; Ballistic^reset;",
    "energy" : "^#d29ce7; Energy^reset;",
    "generic" : "^#FFFFFF;Ѻ Generic^reset;",
    "experimental" : "^#A8E6E2; Experimental^reset;",
    "special" : "^#e2c344;© Special^reset;",
    "universal" : "^#cfcfcf;¤ Universal^reset;"
  },
  "performanceMode": false,
  "renderBarsAtCursor": true,
  "useAmmoCounterImages": true,
  "accurateBars": false,
  "minimumFireTime": 0.001
}