{
  /*
  Lots of redundancy in this document, but eh, better to be safe
  */

  // primaryAbility fields that are protected from generic change
  // RULE: all stats must strictly be primitively numerical in value
  "statDefaults": {
    // core stats
    "baseDamage": 0,
    "critChance": 0,
    "critDamageMult": 1,
    "reloadCost": 0,
    "reloadTime": 1,

    // firetime stats
    "cockTime": 0.5,
    "cycleTime": 0.1,
    "midCockDelay": 0,
    "chargeTime": 0,
    "overchargeTime": 0,
    "fireTime": 0.01,

    // misc stats
    "maxAmmo": 12,
    "bulletsPerReload": 12,
    "burstCount": 1,
    "ammoPerShot": 1,
    "ammoConsumeChance": 1,

    "inaccuracy": 0,

    "multishot": 1,
    "projectileCount": 1,
    "spread": 0,

    "chargeDamageMult": 1,
    "perfectChargeDamageMult": 1,
    "dischargeDelayTime": 0,

    "movementSpeedFactor": 1,
    "jumpHeightFactor": 1,

    "recoilAmount": 0,
    "recoilMult": 1,
    
    "recoverTime": 0.1,
    "recoverDelay": 0,
    "recoilMomentum": 0
  },

  /*
  
  "stat": {
    "momentum": {
      "additive": 10
    },
    "recoilMomentum": {
      "additive': 10
    }
  }
  
  will have the same effect as giving an additive bonus of 20 to either "momentum" xor "recoilMomentum"

  */
  // RULE: no stat alias can be equal to an actual stat
  "statAliases": {
    // "alias": "stat"
    "momentum": "recoilMomentum",
    "critDamage": "critDamageMult"
  },

  // RULE: a stat group must never share the same name as one of their members
  "statGroups": ["fireTimeGroup", "ergonomics"],

  "statGroupAssignments": {
    "cockTime": "fireTimeGroup",
    "cycleTime": "fireTimeGroup",
    "midCockDelay": "fireTimeGroup",
    "chargeTime": "fireTimeGroup",
    "overchargeTime": "fireTimeGroup",
    "fireTime": "fireTimeGroup",

    "movementSpeedFactor": "mobility",
    "jumpHeightFactor": "mobility",

    "recoverDelay": "ergonomics",
    "recoverTime": "ergonomics",

    "recoilAmount": "recoil"
  },

  // can only rebase/rebaseMult restricted stats and those in restricted groups
  "restrictedStats": [
    "cockTime",
    "cycleTime",
    "midCockDelay",
    "chargeTime",
    "overchargeTime",
    "fireTime"
  ],
  "restrictedGroups": ["fireTimeGroup"],

  // When initialized, these stats are based on the settings in the config, NOT the parameters.
  "configStats": [
    "maxAmmo",
    "bulletsPerReload",
    "ammoPerShot",
    "ammoConsumeChance",
    "projectileCount"
  ],

  // the final value of these stats are ceilinged (safer than flooring)
  "integerStats": [
    "maxAmmo",
    "bulletsPerReload",
    "ammoPerShot",
    "projectileCount",
    "burstCount"
  ],

  // the final value of these stats never go above zero
  // RULE: please don't include a [false, false] entry...
  "statBounds": {
    "reloadCost": [0, false],
    "reloadTime": [0.001, false],
    "critChance": [0, false],

    "cockTime": [0.001, false],
    "cycleTime": [0.001, false],
    "midCockDelay": [0, false],
    "chargeTime": [0, false],
    "overchargeTime": [0, false],
    "fireTime": [0.001, false],

    "burstCount": [1, false],

    "maxAmmo": [1, false],
    "bulletsPerReload": [1, false],
    "ammoConsumeChance": [0, false],
    "ammoPerShot": [0, false],

    "inaccuracy": [0, false],
    
    "multishot": [0, false],
    "projectileCount": [1, false],
    "spread": [0, false],

    "dischargeDelayTime": [0, false],
    
    "movementSpeedFactor": [0, false],
    "jumpHeightFactor": [0, false],
    
    "recoilAmount": [0, false],
    "recoilMult": [0, false],

    "recoverTime": [0.01, false],
    "recoverDelay": [0, false]
  },
  
  // these stats are divided from by the multiplicative modifier
  // named "bad stats" since they are undesired
  // an undesired stat may not be a bad stat so that it's more intuitive to mod them
  "badStat": ["reloadCost", "reloadTime", "recoilAmount"]
}
