{
  "defaultBeamSounds": {
    "fireStart": ["/sfx/gun/mech_beamsniper_fire1.ogg"],
    "fireLoop": ["/sfx/gun/mech_beamdrill_loop.ogg"],
    "fireEnd": ["/sfx/gun/mech_beamdrill_winddown.ogg"]
  },

  // removes fire loop sounds when converting from beam
  "removeFireLoopSounds": true,

  "defaultFireSounds": {
    "energy": ["/sfx/project45neosfx/fire/fire-energy1.ogg"],
    "ballistic": ["/sfx/project45neosfx/fire/fire-rifle1.ogg"],
    "experimental": ["/sfx/project45neosfx/fire/fire-energy1.ogg"],
    "default": ["/sfx/project45neosfx/fire/fire-rifle1.ogg"]
  },
  

  "damageConversionFactor": 0.8,  // typically less than 1 and strictly greater than 0
  
  // further multiplied to damageConversionFactor when converting to summoned projectile
  "summonedDamageMultiplier": 0.8,
  
  // divided from beam width when gun is converted from beam
  // the lower the value, the larger the resulting spread
  "projectileSpreadDividend": 4
   
}