{
  /*
  Lots of redundancy in this document, but eh, better to be safe
  */

  // primaryAbility fields that are protected from generic change
  // RULE: all stats must strictly be primitively numerical in value
  "statDefaults": {
    // core stats
    "baseDamage": 0,
    "critChance": 0,
    "critDamageMult": 1,
    "reloadCost": 0,
    "reloadTime": 1,

    // firetime stats
    "cockTime": 0.5,
    "cycleTime": 0.1,
    "midCockDelay": 0,
    "chargeTime": 0,
    "overchargeTime": 0,
    "fireTime": 0.01,

    // misc stats
    "maxAmmo": 12,
    "bulletsPerReload": 12,
    "burstCount": 1,
    "ammoPerShot": 1,
    "ammoConsumeChance": 1,

    // "inaccuracy": 0,

    "multishot": 1,
    "projectileCount": 1,
    "spread": 0,

    "chargeDamageMult": 1,
    "perfectChargeDamageMult": 1,
    "dischargeDelayTime": 0,

    "movementSpeedFactor": 1,
    "jumpHeightFactor": 1,

    "recoilAmount": 0,
    "recoilMult": 1,
    
    "recoverTime": 0.1,
    "recoverDelay": 0,
    "recoilMomentum": 0
  },

  // Names of stats. If a stat does not have an entry here, they will simply be capitalized.
  "statNames": {
    // core
    "baseDamage": "Base Damage",
    "critChance": "Crit Chance",
    "critDamageMult": "Crit Damage",
    "reloadCost": "Reload Cost",
    "reloadTime": "Reload Time",

    "fireTime": "Trigger Time",
    "cycleTime": "Cycle Time",
    "cockTime": "Cock Time",
    "midCockDelay": "Mid-cock Delay",
    "chargeTime": "Charge Time",
    "overchargeTime": "Overcharge Time",

    "maxAmmo": "Ammo Capacity",
    "bulletsPerReload": "Bullets/Reload",
    "burstCount": "Burst Count",
    "ammoPerShot": "Ammo/Shot",
    "ammoConsumeChance": "Ammo Consume Chance",

    "projectileCount": "Projectiles",
    "chargeDamageMult": "Charge Damage Mult.",
    "perfectChargeDamageMult": "Perfect Charge Dmg. Mult.",
    "dischargeDelayTime": "Discharge Delay",

    "movementSpeedFactor": "Move Speed Mult",
    "jumpHeightFactor": "Jump Height Mult",

    "recoilAmount": "Recoil",
    "recoilMult": "Recoil Mult.",
    "recoilMomentum": "Kickback",

    "recoverTime": "Recover Time",
    "recoverDelay": "Recover Delay"
  },

  // Dictionary of colors of each stat. Overrides group colors if the stat is a member.
  "statColors": {
    "default": "#eab3db",
    "baseDamage": "#FF9000",
    "reloadCost": "#b0ff78",
    "critChance": "#FF6767",
    "critDamageMult": "#FF6767",
    "level": "#a8e6e2"
  },

  // Names of groups. If a group does not have an entry here, they will simply be capitalized.
  "groupNames": {
    "fireTimeGroup": "Fire Time"
  },

  // Dictionary of colors of each group.
  "groupColors": {
    "default": "#eab3db",
    "fireTimeGroup": "#FFD400"
  },

  /*
    local statSlots = {
    baseDamage = "^#FF9000;Base Damage",
    fireTime = "^#FFD400;Fire Time",
    reloadCost = "^#b0ff78;Reload Cost",
    critChance = "^#FF6767;Crit Chance",
    critDamage = "^#FF6767;Crit Damage",
    multiple = "^#A8E6E2;Multiple",
    level = "^#a8e6e2;Level"
  }
  */

  /*
  
  "stat": {
    "momentum": {
      "additive": 10
    },
    "recoilMomentum": {
      "additive': 10
    }
  }
  
  will have the same effect as giving an additive bonus of 20 to either "momentum" xor "recoilMomentum"

  */
  // RULE: no stat alias can be equal to an actual stat
  "statAliases": {
    // "alias": "stat"
    "momentum": "recoilMomentum",
    "critDamage": "critDamageMult"
  },

  // RULE: a stat group must never share the same name as one of their members
  "statGroups": ["fireTimeGroup", "ergonomics", "mobility"],

  "statGroupAssignments": {
    "cockTime": "fireTimeGroup",
    "cycleTime": "fireTimeGroup",
    "midCockDelay": "fireTimeGroup",
    "chargeTime": "fireTimeGroup",
    "overchargeTime": "fireTimeGroup",
    "fireTime": "fireTimeGroup",

    "movementSpeedFactor": "mobility",
    "jumpHeightFactor": "mobility",

    "recoverDelay": "ergonomics",
    "recoverTime": "ergonomics"
  },

  // can only rebase/rebaseMult restricted stats and those in restricted groups
  "restrictedStats": [
    "cockTime",
    "cycleTime",
    "midCockDelay",
    "chargeTime",
    "overchargeTime",
    "fireTime"
  ],
  "restrictedGroups": ["fireTimeGroup"],

  /*
  Dictionary of stat-format pairs: format is 4-element array consisting of the following elements, in order:
  - prefix
  - multiplier (displayed value will be the original value multiplied by this amount)
  - roundup  (displayed value will be rounded up by this many places)
  - suffix
  Additive and rebase values of these stats will be formatted accordingly.

  If the stat is an integer, the roundup will be ignored and the stat will be ceilinged.
  */
  "statFormats": {
    "cockTime": ["", 1000, 1, "ms"],
    "cycleTime": ["", 1000, 1, "ms"],
    "midCockDelay": ["", 1000, 1, "ms"],
    "chargeTime": ["", 1000, 1, "ms"],
    "overchargeTime": ["", 1000, 1, "ms"],
    "fireTime": ["", 1000, 1, "ms"],
    
    "reloadTime": ["", 1, 1, "s"],
    "dischargeDelayTime": ["", 1, 1, "s"],
    
    "recoverTime": ["", 1000, 1, "ms"],
    "recoverDelay": ["", 1000, 1, "ms"],

    "critChance": ["", 100, 1, "%"],
    "ammoConsumeChance": ["", 100, 1, "%"],

    "recoilAmount": ["", 60, 1, "'"]
  },

  "groupFormats": {
    "fireTimeGroup": ["", 1000, 1, "ms"]
  },

  // When initialized, these stats are based on the settings in the config, NOT the parameters.
  "configStats": [
    "maxAmmo",
    "bulletsPerReload",
    "ammoPerShot",
    "ammoConsumeChance",
    "projectileCount"
  ],

  // the final value of these stats are ceilinged (safer than flooring)
  "integerStats": [
    "maxAmmo",
    "bulletsPerReload",
    "ammoPerShot",
    "projectileCount",
    "burstCount"
  ],

  // the final value of these stats never go above zero
  // RULE: please don't include a [false, false] entry...
  "statBounds": {
    "reloadCost": [0, false],
    "reloadTime": [0.001, false],
    "critChance": [0, false],

    "cockTime": [0.001, false],
    "cycleTime": [0.001, false],
    "midCockDelay": [0, false],
    "chargeTime": [0, false],
    "overchargeTime": [0, false],
    "fireTime": [0.001, false],

    "burstCount": [1, false],

    "maxAmmo": [1, false],
    "bulletsPerReload": [1, false],
    "ammoConsumeChance": [0, false],
    "ammoPerShot": [0, false],

    // "inaccuracy": [0, false],
    
    "multishot": [0, false],
    "projectileCount": [1, false],
    "spread": [0, false],

    "dischargeDelayTime": [0, false],
    
    "movementSpeedFactor": [0, false],
    "jumpHeightFactor": [0, false],
    
    "recoilAmount": [0, false],
    "recoilMult": [0, false],

    "recoverTime": [0.01, false],
    "recoverDelay": [0, false]
  },
  
  // these stats are divided from by the multiplicative modifier
  // named "bad stats" since they are undesired
  // an undesired stat may not be a bad stat so that it's more intuitive to mod them
  "badStats": ["reloadCost", "reloadTime", "recoilAmount"],
  // these groups are just formatted to have multiplicative modifications look like +_._d
  "badGroups": ["fireTimeGroup"]
}
