{
  "techDisplayExcludedSlots": [
      "passive"
    , "ability"
    , "manualReload"
    , "shiftAbility"
    , "rail"
    , "sights"
    , "muzzle"
    , "underbarrel"
    , "stock"
    , "ammoType"
    , "challenger"
  ],
  
  // mod tooltip
  "slotStrings": {
    "ammoType": "Ammo",
    "manualReload": "Manual Reload",
    "shiftAbility": "Shift Ability"
  },

  "categoryStrings": {
    "ballistic" : "^#51bd3b; Ballistic^reset;",
    "energy" : "^#d29ce7; Energy^reset;",
    "generic" : "^#FFFFFF;Ѻ Generic^reset;",
    "experimental" : "^#A8E6E2; Experimental^reset;",
    "special" : "^#e2c344;© Special^reset;",
    "universal" : "^#cfcfcf;¤ Universal^reset;"
  },

  "categoryStringsX":{
    "special": {
      "special" : "^#e2c344;© Special^reset;",
      "ballistic" : "^#e2c344;© Ballistic^reset;",
      "energy" : "^#e2c344;© Energy^reset;",
      "generic" : "^#e2c344;© Energy^reset;",
      "experimental" : "^#e2c344;© Experimental^reset;",
      "universal" : "^#e2c344;© Universal^reset;"
    },
    "experimental": {
      "special" : "^#A8E6E2; Special^reset;",
      "ballistic" : "^#A8E6E2; Ballistic^reset;",
      "energy" : "^#A8E6E2; Energy^reset;",
      "generic" : "^#A8E6E2; Energy^reset;",
      "experimental" : "^#A8E6E2; Experimental^reset;",
      "universal" : "^#A8E6E2; Universal^reset;"
    }
  },
  "slotNames": {
    "magazine": "magazine mod",
    "barrel": "barrel mod",
    "magwell": "magwell mod",
    "material": "material mod",
    "bowstring": "bowstring",
    "receiver": "receiver mod"
    
  }
}