{
  "magicNumber": "aikiro42/project-45@v1.6.1b",
  "hitscanProjectileLimit": 7,
  "globalDamageMultiplier": 1,
  "gunArchetypeDps": {
    "pistol": 5,
    
    // high firerate weapons
    "smg": 5,
    "assaultRifle": 6,
    "machineGun": 7,
    "flamethrower": 7,
    
    "shotgun": 12,
    "revolver": 7,
    "bow": 7,
    "rifle": 6,
    "dmr": 7,
    "sniper": 8,
    "antiMateriel": 10,
    
    "grenadeLauncher": 6.25,
    "rocketLauncher": 9.5,
    
    "beam": 5,
    "magic": 5
  },
  "standardFireTime": 0.2, // standard fire time in seconds; damage is affected by this value.
  "minimumFireTime": 0.065, // average is 0.06487755102040817
  "maxStockAmmoMult": 6, // multiplier for maximum stock ammo on weapon
  
  // maximum randomized percent bonus for generated weapons
  "maxRandBonuses": {
    "baseDamage": 0.12,
    "critChance": 0.2,
    "critDamageMult": 0.06
  },
  "boughtRandBonusMult": 0.5, // effectiveness of randomized upgrades on bought items
  "performanceMode": false,
  "renderBarsAtCursor": true,
  "useAmmoCounterImages": true,
  "accurateBars": false,

  "uiConfig": {

    "font": {
      "spritePath": "/scripts/project45/ui/font.png",
      "scaleFactor": 1.125,
      "charWidth": 4.5, // width in pixels
      "spacingFactor": 0
    },
    
    "reloadArrow": {
      "image": "/scripts/project45/ui/reloadbar-arrow.png",
      "scale": 0.5
    }

  },


  "ammoStockDescriptionFormat": "^#e2c344;Contains %d rounds.^reset;\nUse on weapon to stock up to ^#e2c344;6x max ammo capacity^reset;. Can be used on Stock Ammo to ^#e2c344;stack them up to %d.^reset;",
  "ammoStockMaxDescriptionFormat": "^#e2c344;Contains %d rounds.^reset;\nUse on weapon to stock up to ^#e2c344;6x max ammo capacity^reset;.",
  "ammoStockLimit": 300

}