{
  "categoryStrings": {
    "ballistic" : "^#51bd3b; Ballistic^reset;",
    "energy" : "^#d29ce7; Energy^reset;",
    "generic" : "^#FFFFFF;Ѻ Generic^reset;",
    "experimental" : "^#A8E6E2; Experimental^reset;",
    "special" : "^#e2c344;© Special^reset;",
    "universal" : "^#cfcfcf;¤ Universal^reset;"
  },
  "specialCategoryStrings": {
    "special" : "^#e2c344;© Special^reset;",
    "ballistic" : "^#e2c344;© Ballistic^reset;",
    "energy" : "^#e2c344;© Energy^reset;",
    "generic" : "^#e2c344;© Energy^reset;",
    "experimental" : "^#e2c344;© Experimental^reset;",
    "universal" : "^#e2c344;© Universal^reset;"
  },
  "slotNames": {
    "magazine": "magazine mods",
    "barrel": "barrel mods",
    "magwell": "magwell mods",
    "material": "material mods"
    
  }
}