{
  "hitscanProjectileLimit": 7,
  "globalDamageMultiplier": 1,
  "gunArchetypeDamages": {
    "pistol": 1.25,
    "smg": 1,
    "bow": 3,
    "shotgun": 3,
    "revolver": 1.5,
    "rifle": 2.5,
    "assaultRifle": 2,
    "dmr": 3,
    "sniper": 3.5,
    "machineGun": 3,
    "antiMateriel": 4,
    "grenadeLauncher": 5,
    "rocketLauncher": 4.5,
    "beam": 1.5,
    "magic": 5,
    "flamethrower": 2
  }
}