{
  /*
  Lots of redundancy in this document, but eh, better to be safe
  */

  // primaryAbility fields that are protected from generic change
  "statDefaults": {
    // core stats
    "baseDamage": 0,
    "critChance": 0,
    "critDamageMult": 1,
    "reloadCost": 0,
    "reloadTime": 1,

    // firetime stats
    "cockTime": 0.5,
    "cycleTime": 0.1,
    "midCockDelay": 0,
    "chargeTime": 0,
    "overchargeTime": 0,
    "fireTime": 0.01,

    // misc stats
    "maxAmmo": 12,
    "bulletsPerReload": 12,
    "burstCount": 1,
    "ammoPerShot": 1,
    "ammoConsumeChance": 1,

    "inaccuracy": 0,

    "multishot": 1,
    "projectileCount": 1,
    "spread": 0,

    "chargeDamageMult": 1,
    "perfectChargeDamageMult": 1,
    "dischargeDelayTime": 0,

    "movementSpeedFactor": 1,
    "jumpHeightFactor": 1,

    "recoilAmount": 0
  },

  
  "statGroups": ["fireTime", "ergonomics"],

  "statGroupAssignments": {
    "cockTime": "fireTime",
    "cycleTime": "fireTime",
    "midCockDelay": "fireTime",
    "chargeTime": "fireTime",
    "overchargeTime": "fireTime",
    "fireTime": "fireTime",

    "recoverTime": "ergonomics",
    "recoverDelay": "ergonomics"
  },

  // can only rebase these stats
  "restrictedStats": [
    "cockTime",
    "cycleTime",
    "midCockDelay",
    "chargeTime",
    "overchargeTime",
    "fireTime"
  ],
  "restrictedGroups": ["fireTime"],

  // When initialized, these stats are based on the settings in the config, NOT the parameters.
  "configStats": [
    "maxAmmo",
    "bulletsPerReload",
    "ammoPerShot",
    "ammoConsumeChance"
  ],

  // the final value of these stats are ceilinged (safer than flooring)
  "integerStats": [
    "maxAmmo",
    "bulletsPerReload",
    "ammoPerShot",
    "projectileCount",
    "burstCount"
  ],

  // the final value of these stats never go above zero
  "statBounds": {
    "reloadCost": [0, false],
    "reloadTime": [0.001, false],
    "critChance": [0, false],

    "cockTime": [0.001, false],
    "cycleTime": [0.001, false],
    "midCockDelay": [0, false],
    "chargeTime": [0, false],
    "overchargeTime": [0, false],
    "fireTime": [0.001, false],

    "burstCount": [1, false],

    "maxAmmo": [1, false],
    "bulletsPerReload": [1, false],
    "ammoConsumeChance": [0, false],
    "ammoPerShot": [0, false],

    "inaccuracy": [0, false],
    
    "multishot": [0, false],
    "projectileCount": [1, false],
    "spread": [0, false],

    "dischargeDelayTime": [0, false],
    
    "movementSpeedFactor": [0, false],
    "jumpHeightFactor": [0, false],
    
    "recoilAmount": [0, false]
  },
  
  // these stats are divided from by the multiplicative modifier
  // named "bad stats" since they are undesired
  "badStat": ["reloadCost", "reloadTime", "ammoConsumeChance", "inaccuracy", "recoilAmount", "spread", "ammoPerShot"]
}
