scripts/vec2.lua
npcs/threats/*.*
.vscode
items/active/weapons/ranged/gunfire.lua
items/active/weapons/ranged/beamfire.lua
items/active/weapons/ranged/abilities/altfire.lua
interface/scripted/weaponupgrade/weaponupgradegui.lua
docs/devtools/node_modules