scripts/vec2.lua
.vscode
configs/project45/project45_general.config.patch
items/buildscripts/abilities.lua
items/active/weapons/ranged/gunfire.lua
items/active/weapons/ranged/beamfire.lua
items/active/weapons/ranged/abilities/altfire.lua
interface/scripted/weaponupgrade/weaponupgradegui.lua
docs/devtools/node_modules
docs/devtools/packed