{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "project45_hitexplosion"
    },
    { 
      "action" : "sound",
      "options" : [
        "/sfx/project45neosfx/bulletimpact/bulletimpact-generic1.ogg",
        "/sfx/project45neosfx/bulletimpact/bulletimpact-generic2.ogg",
        "/sfx/project45neosfx/bulletimpact/bulletimpact-generic3.ogg"
      ]
    }
  ]
}
