{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "project45_hitexplosion"
    },
    { 
      "action" : "sound",
      "options" : [
        "/sfx/project45-synthetikmechanics/bulletimpacts/bulletimpact_1.ogg",
        "/sfx/project45-synthetikmechanics/bulletimpacts/bulletimpact_2.ogg",
        "/sfx/project45-synthetikmechanics/bulletimpacts/bulletimpact_3.ogg"
      ]
    }
  ]
}
