{
  "gui" : {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/project45-gunseller/project45-gunseller-header.png",
      "fileBody" : "/interface/project45-gunseller/project45-gunseller-slots33to40.png",
      "fileFooter" : "/interface/project45-gunseller/project45-gunseller-footer.png"
    },
    "objectImage" : {
      "type" : "image",
      "position" : [38, 141],
      "file" : "",
      "centered" : true,
      "maxSize" : [60, 60],
      "minSize" : [60, 60]
    },
    "btnShip" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "press" : "/interface/buttonhover.png",
      "caption" : "Sell",
      "position" : [96, 26],
      "callback" : "triggerShipment"
    },
    "lblMoneyLabel" : {
      "type" : "label",
      "position" : [6, 28],
      "value" : "TOTAL VALUE"
    },
    "imgMoneyIcon" : {
      "type" : "image",
      "position" : [56, 29],
      "centered" : false,
      "file" : "/interface/inventory/money.png"
    },
    "lblMoney" : {
      "type" : "label",
      "position" : [68, 28],
      "value" : "0"
    },
    "itemGrid" : {
      "type" : "itemgrid",
      "position" : [81, 100],
      "dimensions" : [4, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/project45-gunseller/project45-gunseller-empty.png"
    },
    "itemGrid2" : {
      "type" : "itemgrid",
      "position" : [5, 43],
      "slotOffset" : 16,
      "dimensions" : [8, 3],
      "spacing" : [19, 19],
      "backingImage" : "/interface/project45-gunseller/project45-gunseller-empty.png"
    },
    "count" : {
      "type" : "label",
      "value" : "^#9a5da0;Sell Items For Full Price^reset;",
      "hAnchor" : "mid",
      "position" : [80, 178]
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [143, 194]
    }
  },

  "scriptWidgetCallbacks" : [
    "triggerShipment"
  ],

  "scripts" : ["/interface/scripted/project45-gunseller/project45-gunseller.lua"],
  "scriptDelta" : 5,

  "sellFactor" : 0.8,
  "acceptItems" : [],
  "appreciate": [
    // tags
    {"tag": "reagent", "factor": 1.2},
    {"tag": "project45item", "factor": 2},
    {"tag": "uniqueproject45item", "factor": 10},
    {"category": "uniqueWeapon", "factor": 5}

    // items
  ]
}
