{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.1,
      "type" : "project45_elecexplosion"
    },
    {
      "action" : "light",
      "color" : "magenta"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/plasma3.ogg" ]
    },
    {
      "action" : "loop",
      "count" : 15,
      "body" : [
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 3.0,
                "color" : [210,156,231, 255],
                "destructionAction" : "fade",
                "destructionTime" : 0.2,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "fullbright": true,
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [10, 10],
                  "size" : 2
                }
              }
            }
          ]
        },
        {
          "action" : "option",
          "options" : [
            {
              "action" : "particle",
              "specification" : {
                "type" : "ember",
                "size" : 2.0,
                "color" : [255, 255, 255, 255],
                "destructionAction" : "fade",
                "destructionTime" : 0.2,
                "initialVelocity" : [0, 0],
                "finalVelocity" : [0, 0],
                "fullbright": true,
                "approach" : [10, 10],
                "timeToLive" : 0.2,
                "layer" : "back",
                "variance" : {
                  "position" : [3, 3],
                  "initialVelocity" : [10, 10],
                  "size" : 1
                }
              }
            }
          ]
        }
      ]
    }
  ]
}
