{
    "openWithInventory": true,
    "gui" : {
      // Main Body
      "background" : {
        "type" : "background",
        "fileHeader" : "/interface/project45-gunshop/merchantheader.png",
        "fileBody" : "/interface/project45-gunshop/newvendingbody.png",
        "fileFooter" : "/interface/project45-gunshop/merchantfooter.png"
      },

      // Close Interface Button
      "close" : {
        "type" : "button",
        "base" : "/interface/project45-gunshop/x.png",
        "hover" : "/interface/project45-gunshop/xhover.png",
        "pressed" : "/interface/project45-gunshop/xpress.png",
        "pressedOffset" : [0, 0],
        "position" : [164, 245]
      },

      // Title, Subtitles and Icon
      "windowtitle" : {
        "type" : "title",
        "title" : " Vending Machine",
        "subtitle" : " ^#b9b5b2;Tasty Snacks",
        "position" : [-5, 252],
        "icon" : {
          "type" : "image",
          "file" : "/interface/project45-gunshop/merchanticon.png",
          "position" : [0, -20],
          "zlevel" : -1
        }
      },

      /*
      "bgShine" : {
        "type" : "image",
        "file" : "/interface/project45-gunshop/bgshine.png",
        "position" : [0, 12],
        "zlevel" : 1
      },
      */
      
      "lblcostCaption" : {
        "type" : "label",
        "fontSize" : 8,
        "position" : [10, 51],
        "value" : "^#190700;COST:",
        "hAnchor" : "left"
      },
      "imgCostIcon" : {
        "type" : "image",
        "file" : "/interface/project45-gunshop/pixels.png",
        "position" : [153, 53],
        "zlevel" : -3
      },
      "lblCostTotal" : {
        "type" : "label",
        "hAnchor": "right",
        "fontSize" : 8,
        "position" : [150, 51],
        "value" : "0"
      },

      "shopTabs": {
        "type": "radioGroup",
        "toggleMode": false,
        "callback": "switchMode",
        "buttons": [
          {
            "id": 1,
            "baseImage" : "/interface/project45-gunshop/rb-guns.png",
            "baseImageChecked" : "/interface/project45-gunshop/rb-guns-selected.png",
            "position" : [9, 217],
            "pressedOffset": [0, 0],
            "selected": true
          },
          {
            "id": 2,
            "baseImage" : "/interface/project45-gunshop/rb-mods.png",
            "baseImageChecked" : "/interface/project45-gunshop/rb-mods-selected.png",
            "position" : [38, 217],
            "pressedOffset": [0, 0]
          },
          {
            "id": 3,
            "baseImage" : "/interface/project45-gunshop/rb-stat.png",
            "baseImageChecked" : "/interface/project45-gunshop/rb-stat-selected.png",
            "position" : [67, 217],
            "pressedOffset": [0, 0]
          },
          {
            "id": 4,
            "baseImage" : "/interface/project45-gunshop/rb-ammo.png",
            "baseImageChecked" : "/interface/project45-gunshop/rb-ammo-selected.png",
            "position" : [96, 217],
            "pressedOffset": [0, 0]
          },
          {
            "id": 5,
            "baseImage" : "/interface/project45-gunshop/rb-util.png",
            "baseImageChecked" : "/interface/project45-gunshop/rb-util-selected.png",
            "position" : [125, 217],
            "pressedOffset": [0, 0]
          }
        ]
      },

      "btnBuy" : {
        "callback" : "purchase",
        "type" : "button",
        "base" : "/interface/project45-gunshop/button.png",
        "hover" : "/interface/project45-gunshop/buttonhover.png",
        "position" : [60, 29],
        "pressedOffset": [0, 0],
        "caption" : "^#FF9000;Buy"
      },

      //Scroll Area
      "itemScrollArea" : {
        "type" : "scrollArea",
        "rect" : [6, 63, 173, 216],
        
        "buttons" : {
          "horizontal" : {
            "forward" : { "base" : "", "hover" : "", "pressed" : "" },
            "backward" : { "base" : "", "hover": "", "pressed" : "" }
          },
          "vertical" : {
            "forward" : {
              "base" : "/interface/project45-gunshop/varrow-forward.png",
              "hover" : "/interface/project45-gunshop/varrow-forwardhover.png",
              "pressed" : ""
            },
            "backward" : {
              "base" : "/interface/project45-gunshop/varrow-backward.png",
              "hover" : "/interface/project45-gunshop/varrow-backwardhover.png",
              "pressed" : ""
            }
          }
        },
        
        "thumbs": {
          "horizontal" : {
            "base" : { "begin" : "", "end" : "", "inner" : "" },
            "hover" : { "begin" : "", "end" : "", "inner" : "" },
            "pressed" : { "begin" : "", "end" : "", "inner" : "" }
          },      
          "vertical" : {
            "base" : {
              "begin" : "/interface/project45-gunshop/vthumb-begin.png",
              "end" : "/interface/project45-gunshop/vthumb-end.png",
              "inner" : "/interface/project45-gunshop/vthumb-inner.png"
            },
            "hover" : {
              "begin" : "/interface/project45-gunshop/vthumb-beginhover.png",
              "end" : "/interface/project45-gunshop/vthumb-endhover.png",
              "inner" : "/interface/project45-gunshop/vthumb-innerhover.png"
            },
            "pressed" : {
              "begin" : "/interface/project45-gunshop/vthumb-beginhover.png",
              "end" : "/interface/project45-gunshop/vthumb-endhover.png",
              "inner" : "/interface/project45-gunshop/vthumb-innerhover.png"
            }
          }      
        },
        "children" : {
          "itemList" : {
            "type" : "list",
            "callback" : "itemSelected",
            "schema" : {
              "selectedBG" : "/interface/project45-gunshop/itemselected.png",
              "unselectedBG" : "/interface/project45-gunshop/itembackground.png",
              "spacing" : [0, 0],
              "memberSize" : [156, 20],
              "listTemplate" : {
                "background" : {
                  "type" : "image",
                  "file" : "/interface/project45-gunshop/itembackground.png",
                  "position" : [0, 0],
                  "zlevel" : -1
                },
                "itemName" : {
                  "type" : "label",
                  "position" : [22, 18],
                  "hAnchor" : "left",
                  "vAnchor" : "top",
                  "wrapWidth" : 116,
                  "lineSpacing" : 1.05,
                  "value" : "Replace Me"
                },
                "itemIcon" : {
                  "type" : "itemslot",
                  "position" : [1, 1],
                  "callback" : "null"
                },
                "moneyIcon" : {
                  "type" : "image",
                  "position" : [147, 1],
                  "file" : "/interface/project45-gunshop/pixels.png"
                },
                "priceLabel" : {
                  "type" : "label",
                  "position" : [145, 0],
                  "hAnchor" : "right",
                  "value" : "0"
                },
                "unavailableoverlay" : {
                  "type" : "image",
                  "file" : "/interface/project45-gunshop/unavailableoverlay.png",
                  "position" : [0, 0],
                  "zlevel" : 1
                }
              }
            }
          }
        }
      }
    },

    "scriptWidgetCallbacks" : [
      "itemSelected",
      "purchase",
      "switchMode"
    ],
  
    "scripts" : ["/interface/scripted/project45-gunshop/project45-gunshop.lua"],
    "scriptDelta" : 5,
  
    "weapons" : [
      "project45-pistol"
    ]
}
  