{
  "gui": {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/tooltips/headercodex.png",
      "fileBody" : "/interface/tooltips/bodycodex.png",
      "fileFooter" : "/interface/tooltips/footercodex.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Project 45 Settings",
      "subtitle" : "Mod Configuration",
      "icon" : {
        "type" : "image",
        "file" : "/interface/project45-configui/project45-configui-icon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [140, 140]
    },
    
    "labelToggleCursorBars" : {
      "type" : "label",
      "position" : [30, 116],
      "hAnchor" : "left",
      "value" : "Render Bars beside cursor"
    },
    "btnToggleCursorBars" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [10, 115],
      "callback" : "toggleCursorBars"
    },

    "lblRestartToSave" : {
      "type" : "label",
      "position" : [10, 37],
      "hAnchor" : "left",
      "value" : ""
    }
  },
  
  "scriptWidgetCallbacks" : [
		"toggleCursorBars"
	],

  "scripts" : ["/interface/project45-configui/project45-configui.lua"],
  "scriptDelta" : 0
}