{
  "gui": {
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/project45-configui/project45-configui-header.png",
      "fileBody" : "/interface/project45-configui/project45-configui-body.png",
      "fileFooter" : "/interface/project45-configui/project45-configui-footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Project 45 Settings",
      "subtitle" : "Mod Configuration",
      "icon" : {
        "type" : "image",
        "file" : "/interface/project45-configui/project45-configui-icon.png",
        "position" : [0, -20],
        "zlevel" : -1
      }
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/x.png",
      "hover" : "/interface/xhover.png",
      "pressed" : "/interface/xpress.png",
      "pressedOffset" : [0, 0],
      "position" : [190, 170]
    },

    // 145 (8)
    "lblTogglePerformanceMode" : {
      "type" : "label",
      "position" : [30, 153],
      "hAnchor" : "left",
      "vAnchor": "top",
      "value" : "Performance Mode"
    },
    "btnTogglePerformanceMode" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [10, 145],
      "callback" : "togglePerformanceMode"
    },

    // 130
    "lblToggleCursorBars" : {
      "type" : "label",
      "position" : [30, 138],
      "hAnchor" : "left",
      "vAnchor": "top",
      "value" : "Render Bars beside cursor"
    },
    "btnToggleCursorBars" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [10, 130],
      "callback" : "toggleCursorBars"
    },

    // 115
    "lblUseAmmoCounterImages" : {
      "type" : "label",
      "position" : [30, 123],
      "hAnchor" : "left",
      "vAnchor": "top",
      "value" : "Use Reload/Empty Images"
    },
    "btnUseAmmoCounterImages" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      "position" : [10, 115],
      "callback" : "toggleUseAmmoCounterImages"
    },

    // 85
    "lblReloadFlashLasers" : {
      "type" : "label",
      // "position" : [30, 93],
      "position" : [30, 109],
      "hAnchor" : "left",
      "vAnchor": "top",
      "value" : "Lights On During Reload"
    },
    "btnReloadFlashLasers" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      // "position" : [10, 85],
      "position" : [10, 100],
      "callback" : "toggleReloadFlashLasers"
    },

    // 70
    "lblArmFrameAnimations" : {
      "type" : "label",
      // "position" : [30, 78],
      "position" : [30, 94],
      "hAnchor" : "left",
      "vAnchor": "top",
      "value" : "Arm frame animations"
    },
    "btnArmFrameAnimations" : {
      "type" : "button",
      "base" : "/interface/title/checkboxnocheck.png",
      "hover" : "/interface/title/checkboxnocheckhover.png",
      "baseImageChecked" : "/interface/title/checkboxcheck.png",
      "hoverImageChecked" : "/interface/title/checkboxcheckhover.png",
      "checkable" : true,
      "checked" : true,
      // "position" : [10, 70],
      "position" : [10, 85],
      "callback" : "toggleArmFrameAnimations"
    },

    
    "lblDamageScaling" : {
      "type" : "label",
      "position" : [10, 70],
      "hAnchor" : "left",
      "vAnchor": "top",
      "value" : "Damage Scaling: 100%"
    },
    "sldDamageScaling" : {
      "type" : "slider",
      "position" : [20, 50],
      "gridImage" : "/interface/optionsmenu/largeselection.png",
      "callback" : "updateDamageScaling"
    },

    "lblRestartToSave" : {
      "type" : "label",
      "position" : [103, 3],
      "hAnchor" : "mid",
      "value" : ""
    }
  },
  
  "scriptWidgetCallbacks" : [
		"toggleCursorBars",
    "togglePerformanceMode",
    "toggleUseAmmoCounterImages",
    // "toggleAccurateBars",
    "toggleReloadFlashLasers",
    "toggleArmFrameAnimations",
    "updateDamageScaling"
	],

  "scripts" : ["/interface/project45-configui/project45-configui.lua"],
  "scriptDelta" : 0
}