{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0,
      "type" : "project45-stdexplosionshockwave"
    },
    {
      "action" : "sound",
      "options" : [
        "/sfx/objects/rock_break1.ogg",
        "/sfx/objects/rock_break2.ogg",
        "/sfx/objects/rock_break3.ogg",
        "/sfx/objects/rock_break4.ogg",
        "/sfx/objects/rock_break5.ogg"
      ]
    },
    // 1 shrapnel; divide damage accordingly
    {
      "action" : "projectile",
      "type" : "project45_stdexplosionshrapnel",
      "fuzzAngle" : 360,
      "inheritDamageFactor" : 0,
      "angleAdjust" : 0
    }

  ]
}
