{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "project45_scarletexplosion"
    },
    {
      "action" : "light",
      "color" : "magenta"
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/projectiles/plasma3.ogg" ]
    }
  ]
}
