{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 0.05,
      "type" : "project45-stdexplosionshockwave"
    },
    {
      "action" : "loop",
      "count" : 1,
      "body" : [
        {
          "action" : "projectile",
          "type" : "project45itanominirocket",
          "fuzzAngle" : 360,
          "inheritDamageFactor" : 1,
          "angleAdjust" : 0
        }
      ]
    },
    {
      "action" : "sound",
      "options" : [ "/sfx/gun/grenadeblast_fire1.ogg", "/sfx/gun/grenadeblast_fire2.ogg", "/sfx/gun/grenadeblast_fire3.ogg" ]
    }
  ]
}
