{
    "openWithInventory": true,
    "gui" : {
      // Main Body
      "background" : {
        "type" : "background",
        "fileHeader" : "/interface/project45-gundisassembler/project45-gundisassembler-header.png",
        "fileBody" : "/interface/project45-gundisassembler/project45-gundisassembler-body.png",
        "fileFooter" : "/interface/project45-gundisassembler/project45-gundisassembler-footer.png"
      },

      // Close Interface Button
      "close" : {
        "type" : "button",
        "base" : "/interface/x.png",
        "hover" : "/interface/xhover.png",
        "pressed" : "/interface/xpress.png",
        "pressedOffset" : [0, 0],
        "position" : [123, 93]
      },

      // Title, Subtitles and Icon
      "windowtitle" : {
        "type" : "title",
        "title" : "Gun Disassembly",
        "subtitle" : "Retrieve your mods",
        "icon" : {
          "type" : "image",
          "file" : "/interface/project45-gundisassembler/project45-gundisassembler-icon-black.png",
          "position" : [0, -20],
          "zlevel" : -1
        }
      },

      "lblInfo": {
        "type": "label",
        "centered": true,
        "hAnchor": "mid",
        "vAnchor": "bottom",
        "position": [70,65],
        "value": "^#888888;Place weapon to dismantle\ninside the item slot."
      },

      // disassembly slot
      "itemGrid": {
        "type": "itemgrid",
        "dimensions": [1, 1],
        "spacing": [10, 10],
        "position": [60,42],
        "backingImage": "/interface/inventory/empty.png"
      },

      // disassemble button
      "btnDisassemble" : {
        "callback" : "disassemble",
        "type" : "button",
        "base" : "/interface/merchant/button.png",
        "hover" : "/interface/merchant/buttonhover.png",
        "position" : [42, 25],
        "pressedOffset": [0, 0],
        "caption" : "Dismantle"
      }

    },

    "scriptWidgetCallbacks" : [
      "disassemble"
    ],
  
    "scripts" : ["/interface/scripted/project45-gundisassembler/project45-gundisassembler.lua"],
    "scriptDelta" : 60
}